<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaroom.persistence.RoomMessageMapper" >
  <resultMap id="BaseResultMap" type="com.aaroom.beans.RoomMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotel_id" property="hotelId" jdbcType="INTEGER" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="room_count" property="roomCount" jdbcType="INTEGER" />
    <result column="room_number" property="roomNumber" jdbcType="VARCHAR" />
    <result column="room_price" property="roomPrice" jdbcType="DOUBLE" />
    <result column="gold_price" property="goldPrice" jdbcType="DOUBLE" />
    <result column="silver_price" property="silverPrice" jdbcType="DOUBLE" />
    <result column="netword_price" property="networdPrice" jdbcType="DOUBLE" />
    <result column="channel_price" property="channelPrice" jdbcType="DOUBLE" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="is_active" property="isActive" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hotel_id, room_name, room_count, room_number, room_price, gold_price, silver_price, 
    netword_price, channel_price, comments, status, create_time, update_time, create_id, 
    update_id, is_active
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aaroom.beans.RoomMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aaroom.beans.RoomMessageExample" >
    delete from room_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aaroom.beans.RoomMessage" >
    insert into room_message (id, hotel_id, room_name, 
      room_count, room_number, room_price, 
      gold_price, silver_price, netword_price, 
      channel_price, comments, status, 
      create_time, update_time, create_id, 
      update_id, is_active)
    values (#{id,jdbcType=INTEGER}, #{hotelId,jdbcType=INTEGER}, #{roomName,jdbcType=VARCHAR}, 
      #{roomCount,jdbcType=INTEGER}, #{roomNumber,jdbcType=VARCHAR}, #{roomPrice,jdbcType=DOUBLE}, 
      #{goldPrice,jdbcType=DOUBLE}, #{silverPrice,jdbcType=DOUBLE}, #{networdPrice,jdbcType=DOUBLE}, 
      #{channelPrice,jdbcType=DOUBLE}, #{comments,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=INTEGER}, 
      #{updateId,jdbcType=INTEGER}, #{isActive,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aaroom.beans.RoomMessage" >
    insert into room_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="roomName != null" >
        room_name,
      </if>
      <if test="roomCount != null" >
        room_count,
      </if>
      <if test="roomNumber != null" >
        room_number,
      </if>
      <if test="roomPrice != null" >
        room_price,
      </if>
      <if test="goldPrice != null" >
        gold_price,
      </if>
      <if test="silverPrice != null" >
        silver_price,
      </if>
      <if test="networdPrice != null" >
        netword_price,
      </if>
      <if test="channelPrice != null" >
        channel_price,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomCount != null" >
        #{roomCount,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null" >
        #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="roomPrice != null" >
        #{roomPrice,jdbcType=DOUBLE},
      </if>
      <if test="goldPrice != null" >
        #{goldPrice,jdbcType=DOUBLE},
      </if>
      <if test="silverPrice != null" >
        #{silverPrice,jdbcType=DOUBLE},
      </if>
      <if test="networdPrice != null" >
        #{networdPrice,jdbcType=DOUBLE},
      </if>
      <if test="channelPrice != null" >
        #{channelPrice,jdbcType=DOUBLE},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aaroom.beans.RoomMessageExample" resultType="java.lang.Integer" >
    select count(*) from room_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update room_message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hotelId != null" >
        hotel_id = #{record.hotelId,jdbcType=INTEGER},
      </if>
      <if test="record.roomName != null" >
        room_name = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomCount != null" >
        room_count = #{record.roomCount,jdbcType=INTEGER},
      </if>
      <if test="record.roomNumber != null" >
        room_number = #{record.roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.roomPrice != null" >
        room_price = #{record.roomPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.goldPrice != null" >
        gold_price = #{record.goldPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.silverPrice != null" >
        silver_price = #{record.silverPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.networdPrice != null" >
        netword_price = #{record.networdPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.channelPrice != null" >
        channel_price = #{record.channelPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.comments != null" >
        comments = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=INTEGER},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=INTEGER},
      </if>
      <if test="record.isActive != null" >
        is_active = #{record.isActive,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update room_message
    set id = #{record.id,jdbcType=INTEGER},
      hotel_id = #{record.hotelId,jdbcType=INTEGER},
      room_name = #{record.roomName,jdbcType=VARCHAR},
      room_count = #{record.roomCount,jdbcType=INTEGER},
      room_number = #{record.roomNumber,jdbcType=VARCHAR},
      room_price = #{record.roomPrice,jdbcType=DOUBLE},
      gold_price = #{record.goldPrice,jdbcType=DOUBLE},
      silver_price = #{record.silverPrice,jdbcType=DOUBLE},
      netword_price = #{record.networdPrice,jdbcType=DOUBLE},
      channel_price = #{record.channelPrice,jdbcType=DOUBLE},
      comments = #{record.comments,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=INTEGER},
      update_id = #{record.updateId,jdbcType=INTEGER},
      is_active = #{record.isActive,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaroom.beans.RoomMessage" >
    update room_message
    <set >
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="roomName != null" >
        room_name = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomCount != null" >
        room_count = #{roomCount,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null" >
        room_number = #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="roomPrice != null" >
        room_price = #{roomPrice,jdbcType=DOUBLE},
      </if>
      <if test="goldPrice != null" >
        gold_price = #{goldPrice,jdbcType=DOUBLE},
      </if>
      <if test="silverPrice != null" >
        silver_price = #{silverPrice,jdbcType=DOUBLE},
      </if>
      <if test="networdPrice != null" >
        netword_price = #{networdPrice,jdbcType=DOUBLE},
      </if>
      <if test="channelPrice != null" >
        channel_price = #{channelPrice,jdbcType=DOUBLE},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaroom.beans.RoomMessage" >
    update room_message
    set hotel_id = #{hotelId,jdbcType=INTEGER},
      room_name = #{roomName,jdbcType=VARCHAR},
      room_count = #{roomCount,jdbcType=INTEGER},
      room_number = #{roomNumber,jdbcType=VARCHAR},
      room_price = #{roomPrice,jdbcType=DOUBLE},
      gold_price = #{goldPrice,jdbcType=DOUBLE},
      silver_price = #{silverPrice,jdbcType=DOUBLE},
      netword_price = #{networdPrice,jdbcType=DOUBLE},
      channel_price = #{channelPrice,jdbcType=DOUBLE},
      comments = #{comments,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      update_id = #{updateId,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>